/Proyecto1/Arreglo/target/
/Proyecto1/Arreglos/target/
/Proyecto3/Universidad/target/
/Proyecto4/Tienda/target/
/Proyecto7/VerificarVelocidadaLecturaArrayList/target/
/Proyecto6/VerificarLecturaListaNodos/target/
